# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all models and vocoder files
Models/
Vocoder/
Utils/ASR/

# Ignore large specific model checkpoint files
Models/LJSpeech/
Vocoder/g_*
Utils/ASR/epoch_*.pth
